 * {
     padding: 0;
     margin: 0px;

 }

 .perent {
     width: 100vw;
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

 }

 .header,
 .middle,
 .footer {
     width: 25vw;
     /* font-family: 'consolas'; */

 }

 .header h1 {
     font-size: 1.8rem;
     margin-bottom: 0.5vw;
     color: black;
     padding: 1.2vw 0px;

 }

 .form {
     display: block;
 }

 form label {
     display: block;
     color: black;
     font-size: 1.5vw;
     margin-bottom: 0.5vw;
 }

 form input[type="text"] {
     display: block;
     width: 100%;
     height: 2.5vw;
     border: 1px solid black;
     border-radius: 5px;
     font-weight: 500;
     margin-bottom: 0.7vw;
 }

 form input[type="password"] {
     display: block;
     width: 100%;
     height: 2.5vw;
     border: 1px solid black;
     border-radius: 5px;
     font-weight: 500;
     margin-bottom: 0.7vw;
 }

 .middle h4 {
     font-size: medium;
     color: rgb(129, 38, 190);
     padding: 0.3vw 0px;
     font-weight: 500;
     margin-bottom: 0.5vw;
 }

 .middle h4 a {
     text-decoration: none;
     color: rgb(129, 38, 190);
 }

 .middle button {
     width: 100%;
     height: 2.7vw;
     /* background: rgba(rgb(39, 23, 23), rgb(114, 211, 114), rgb(35, 35, 59), 0); */
     background-color: rgb(129, 38, 190);
     color: white;
     border: none;
     font-size: 1.5vw;
     margin-bottom: 1vw;
     box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3) ;
 }

 .footer .sign1 {
     font-size: medium;
     color: black;
     padding: 0.3vw 0px;
     font-weight: 500;
     margin-bottom: 0.5vw;
 }

 .sign {
     font-size: medium;
     color: rgb(129, 38, 190);
     padding: 5px 0px;
     text-align: right;
     font-weight: 500;
     text-decoration: none;

 }

 .sign span {
     font-weight: 800;
     color: rgb(129, 38, 190);
 }

 .images {
     height: 3vw;
     align-items: center;
     justify-content: space-between;
     display: flex;
 }

 .images img {
     height: 100%;
     width: 3vw;
     
     object-fit: contain;
 }
 .images img:hover { 
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.3) ;
 }
