*{
    margin: 0;
    padding: 0;
}
body{
    height: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.emoji{
    display: flex;
    justify-content: space-around;
}
.card{
height: 25vw;
width: 35vw;
box-shadow: 5px 4px 7px 5px;
background:rgba(red, green, blue, alpha);
display: block;
}
.perent{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emoji img {
    height: 5vw;
    width:5vw;
    object-fit: cover;
    /* box-shadow: 5px 4px 7px 5px; */
    padding: 10% 0%;
}
.lable{
    font-size: 1vw;
    margin: 1vh 0vw;

}
.card h2{
    font-size: 2vw;
    font-weight: 800;
    text-align: center;
    padding: 2vh;
    margin: 1vw 2vh;

}
button{
    width: 9vw;
    height: 5vh;
    background-color: black;
    color: white;
    align-items: center;
    margin: 2vw 37%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;

    
}
.unhappy , .netural , .setisfied{
    height: 25%;
    width:25%;
    object-fit: contain;
    /* background-color: red; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid black; */
}
.unhappy:hover , .netural:hover , .setisfied:hover , button:hover{
    /* background-color:gray; */
    box-shadow: 5px 4px 3px ;
    /* box-shadow: currentColor; */
    
}